.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}


    table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
    }
    thead {
      background-color: #666;
      color: white;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px 12px;
      text-align: left;
    }
    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
 display: flex;
 padding: 10px;
 align-items: center;
 font-family : 'Montserrat';
}
.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
}
.nav .logo {
 font-weight : 800;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : black;
 color : white;
 border : none;
}
input {
 display : block;
}

.detail {
  text-align : center;
}
.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}

        .active {
          font-weight: bold;
          color: red;
        }


      .quantity-container {
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }

        .quantity-container button {
          width: 30px;
          height: 30px;
          font-size: 18px;
          cursor: pointer;
        }

        .quantity-container input[type="text"] {
          width: 50px;
          text-align: center;
          font-size: 16px;
        }

        .sales-table {
              border-collapse: collapse;
              width: 60%;
              margin: 20px;
            }
        .sales-table th, td {
              border: 1px solid #ccc;
              text-align: center;
              padding: 10px;
            }
        .sales-table th {
              background-color: #f2f2f2;
            }
        .sales-table tr:nth-child(even) {
              background-color: #f9f9f9;
            }
        .sales-table tr:nth-child(2) {
              background-color: #e0e0e0; /* 셔츠 행 강조 */
            }