<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>

<form action="/list" method="get">
    <input name="searchText" th:value="${searchText}" style="display:inline">
    <button type="submit">검색</button>
</form>


<div class="card" th:each="i : ${items}" >
    <img th:src= "${i.imgurl} != null ? @{${i.imgurl}} : 'https://placehold.co/300'">
    <div>
        <a th:text="${i.title}" th:href="@{ '/detail/' + ${i.id} }"></a>
        <p th:text="${i.price}">7억</p>
        <button type="button" th:attr="data-id=${i.id}" onclick="deleteItem(this);">버튼</button>
<!--        <span th:onclick="fetch('item?id=[[${i.id}]]', {method: 'DELETE'})"></span>-->
    </div>





</div>


<div th:if="${searchText != null and searchText != ''}">
  <span th:each="i : ${#numbers.sequence(0,pages)}">
    <a th:href="@{|/list?page=${i+1}&searchText=${searchText}|}"
       th:text="${i + 1}"
       th:classappend="${i == pages} ? 'active' : ''"></a>
  </span>
</div>

<div th:if="${searchText == null or searchText == ''}">
  <span th:each="i : ${#numbers.sequence(0,pages)}">
    <a th:href="@{|/list?page=${i+1}|}"
       th:text="${i + 1}"
       th:classappend="${i == pages} ? 'active' : ''"></a>
  </span>
</div>
<script>

    function deleteItem(button){
    const id = button.getAttribute('data-id');
      fetch('/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id })
            }).then(r => r.text())
            .then(()=> {
            location.reload();
            });
    }

</script>

</body>
</html>