<!doctype html>
<html lang="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>글제목</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${notices}">
        <td th:text="${i.id}">1</td>
        <td th:text="${i.contents}">이번 주 할인이벤트합니다</td>
        <td th:text="${i.title}">2030년 1월 2일</td>
    </tr>
    </tbody>
</table>
</body>
</html>